:root {
    --grid-text-color: #c8f8a9;
    --grid-unflipped-color: #4caf50;
    --grid-flipped-color: #ffffff;
    --grid-header-color: #2196f3;
    --grid-header-text-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-gap: 10px;
}

.grid-container {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--grid-unflipped-color);
    color: var(--grid-text-color);
    font-size: 24px;
}

.cell.flipped {
    background-color: var(--grid-flipped-color);
    cursor: default;
}

.sums {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sums .sum {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
    overflow: hidden;
    transition: color 0.3s ease;
    background-color: var(--grid-header-color);
    color: var(--grid-header-text-color);
}

.hide {
    color: var(--grid-header-color) !important;
}

#column-sums {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-left: 0px;
    flex-direction: row;
}

#row-sums {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    justify-content: space-between;
}

h1 {
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a0a0a0;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #585858;
}

button:disabled {
    background-color: #464646;
    cursor: not-allowed;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #585858;
    width: 80%;
    max-width: 500px;
    text-align: center;
    font-size: 24px;
    color: black;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.timer-container {
    display: inline-block;
    padding: 10px;
    background-color: #dfbc72;
    border-radius: 5px;
    font-size: 16px;
}

.timer-container .timer-icon {
    margin-right: 5px;
    vertical-align: middle;
    line-height: 1;
}

#timer-display {
    vertical-align: middle;
    line-height: 1;
    color: rgb(112, 84, 61);
}

#flip-skull-button{
    background-color: rgb(79, 54, 114);
}

#flip-skull-button:hover{
    background-color: rgb(52, 33, 80);
}

#reset-button{
    background-color: rgb(126, 22, 22);
}

#flip-apple-button{
    background-color: rgb(48, 154, 37);
}

#flip-apple-button:hover{
    background-color: rgb(29, 95, 21);
}

#confirm-reset-button{
    background-color: rgb(126, 22, 22);
}

#confirm-reset-button:hover{
    background-color: rgb(70, 10, 10);
}

#reset-button:hover{
    background-color: rgb(70, 10, 10);
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc163;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #352c12;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.theme-toggle {
    display: inline-block;
    padding: 10px 8px;
    background-color: #ffe49c;
    border-radius: 5px;
}

body.dark-mode .theme-toggle{
    background-color: #887339;
}

#theme-label {
    font-size: 16px;
    vertical-align: middle;
    line-height: 1;
    color: white;
}

.main-content {
    display: flex;
    gap: 20px;
}

.info-panel {
    background-color: #63c466;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    font-size: 14px;
    text-align: left;
}

body.dark-mode .info-panel {
    background-color: #1c611e;
    color: white;
}

.info-panel h2 {
    margin-top: 0;
    text-align: center;
}

#settings-form label {
    display: block;
    margin-top: 10px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.form-group label {
    width: 200px;
    margin-right: 10px;
    font-size: 16px;
    text-align: right;
}

#settings-form input {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#save-settings-button {
    background-color: #78C2FF;
    line-height: 1;
}

#save-settings-button:hover {
    background-color: #3a74a3;
}

.button-icon {
    line-height: 1;
}

#settings-button {
    background-color: #78C2FF;
}

#settings-button:hover {
    background-color: #3a74a3;
}

.disclaimer-text {
    font-weight: bold;
    font-size: 16px;
}

#delete-cookies-button {
    background-color: #c49252;
    line-height: 1;
}

#delete-cookies-button:hover {
    background-color: #8a6535;
}

#kofi-button {
    background-color: #FF5E5B;
}

#kofi-button:hover {
    background-color: #b12c2a;
}

.customize-sidebar {
    height: 100vh;
    width: 0;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
    box-sizing: border-box;
    padding-top: 60px; /* Adjust padding to fit the button */
}

.customize-section {
    padding: 20pX;
}

.customize-sidebar input[type="color"],
.customize-sidebar input[type="text"] {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

.tab-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
}

.tab-button.hidden {
    display: none;
}

.tab-button:hover {
    background-color: #444;
}

body.customize-sidebar-open .customize-sidebar {
    width: 300px;
}

body.customize-sidebar-open #main-content {
    margin-left: 300px;
    transition: margin-left 0.5s;
}

.customize-reset-button {
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the button horizontally */
    display: block; /* Ensure the button takes the full width specified */
    padding: 10px;
    background-color: rgb(126, 22, 22);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.customize-reset-button:hover {
    background-color: rgb(70, 10, 10);
}

body.customize-sidebar-open #main-content {
    margin-left: 300px;
    transition: margin-left 0.5s;
}

.customize-sidebar h2 {
    text-align: center; /* Center the H2 element */
}

.close-customize-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.close-customize-button:hover {
    color: #ccc;
}

.customize-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}

body.customize-sidebar-open .customize-container {
    width: 300px; /* Width of the sidebar + button */
}

.tab-button {
    font-size: 20px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #444;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
    color: #e66b3f; /* Optional: Change color on hover */
}

emoji-picker {
    margin-top: 10px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

emoji-picker.expanded {
    max-height: 300px;
}